# Python cache
__pycache__/
*.py[cod]
*.ipynb_checkpoints

# Virtual environment
.venv/
env/
venv/

# Model files (optional — large/binary files)
*.keras

# Jupyter Notebook outputs (optional)
*.ipynb

# System files
.DS_Store

# Render / deployment
*.logtokenizer.json
